<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/estilos.css" />
</head>

<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Datos Actualizados</h2>
    <hr class="w-50" />
    
  </div>
  <div>
    <form id="formulario2">
      <div class="form-group col-12 col-sm-6 w-50 m-auto">
        <label>Email</label>
        <input id="email_eliminar" class="form-control m-auto w-50" />
      </div>
      <div class="mt-2">
        <button id="btn2" class="btn btn-danger">Eliminar
          cuenta</button>
      </div>
    </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

</body>

</html>

<script>

  $(document).ready(function () {   //VALIDACION PARA QUE LAS CONTRASEÑAS SEAN IGUALES
    $("form").validate({
      rules: {
        password: {
        },
        rePassword: {
          equalTo: '[name="password"]'
        }
      }
    });
  });

$("#btn2").click(function(){  
  {{!-- $("#formulario2").submit(); --}}
  const email_eliminar = $("#email_eliminar").val();

  const eliminarParticipante = async ( email_eliminar ) => {
    const response = await fetch(`http://localhost:3000/eliminar/${email_eliminar}`, {
      method: "DELETE",
    });

  };
  eliminarParticipante(email_eliminar);
});


</script>